@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';
@import './btn.scss';
@import './view.scss';
body {
  margin: 0px;
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-size: 14px;
  // font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
  font-family: "Microsoft YaHei",Arial,Helvetica,sans-serif,"宋体","Roboto","\5FAE\8F6F\96C5\9ED1 Regular","\5FAE\8F6F\96C5\9ED1","\5B8B\4F53";
}

label {
  font-weight: 700;
}
// 设置form的下拉框宽度为100%
.el-form-item__content .el-select, .el-input{
  width:100%;
}

html {
  height: 100%;
  min-width: 1260px;
  box-sizing: border-box;
}

#app{
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.no-padding {
  padding: 0px !important;
}

.padding-content {
  padding: 4px 0;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus{
  outline: none;
 }

.fr {
  float: right;
}

.fl {
  float: left;
}

.pr-5 {
  padding-right: 5px;
}

.pl-5 {
  padding-left: 5px;
}

.block {
  display: block;
}

.pointer {
  cursor: pointer;
}

.inlineBlock {
  display: block;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

code {
  background: #eef1f6;
  padding: 15px 16px;
  margin-bottom: 20px;
  display: block;
  line-height: 36px;
  font-size: 15px;
  font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
  a {
    color: #337ab7;
    cursor: pointer;
    &:hover {
      color: rgb(32, 160, 255);
    }
  }
}

.warn-content{
  background: rgba(66,185,131,.1);
  border-radius: 2px;
  padding: 16px;
  padding: 1rem;
  line-height: 1.6rem;
  word-spacing: .05rem;
  a{
    color: #42b983;
    font-weight: 600;
  }
}

//main-container全局样式
.app-container {
  padding: 20px;
}

.components-container {
  margin: 30px 50px;
  position: relative;
}

.pagination-container {
  margin-top: 30px;
}

.text-center {
  text-align: center
}

.sub-navbar {
  height: 50px;
  line-height: 50px;
  position: relative;
  width: 100%;
  text-align: right;
  padding-right: 20px;
  transition: 600ms ease position;
  background: linear-gradient(90deg, rgba(32, 182, 249, 1) 0%, rgba(32, 182, 249, 1) 0%, rgba(33, 120, 241, 1) 100%, rgba(33, 120, 241, 1) 100%);
  .subtitle {
    font-size: 20px;
    color: #fff;
  }
  &.draft {
    background: #d0d0d0;
  }
  &.deleted {
    background: #d0d0d0;
  }
}

.link-type,
.link-type:focus {
  color: #337ab7;
  cursor: pointer;
  &:hover {
    color: rgb(32, 160, 255);
  }
}

.filter-container {
  padding-bottom: 10px;
  .filter-item {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
  }
}

//refine vue-multiselect plugin
.multiselect {
  line-height: 16px;
}

.multiselect--active {
  z-index: 1000 !important;
}
/*自定义滚动条样式start*/

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar, ::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  border: 1px solid #fff;
  border-radius: 5px;
  background: #F1F3F4;
}
*::-webkit-scrollbar-thumb:hover {
  background-color:rgba(51, 51, 51, 0.6)
}
::-webkit-scrollbar-button {
  height: 1px;
  width: 1px;
}
/*自定义滚动条样式end*/
/*自定义title*/
._ui-title-1{
  padding:0 0 5px 1em;
  border-bottom:2px solid #39f;
  font-size:16px;
  font-weight:bold;
  margin: 0 10px 10px;
  color:#39f;
  line-height: 22px;
}

.cti-header {
  padding: 28px 30px;
  width: 100%;
  border-bottom: 1px solid #e2e2e2;
  .cti-desc-and-buy {
    position: relative;
    width: inherit;
    min-height: 32px;
    .cti-desbuy-descs {
      position: absolute;
      top: 50%;
      margin-top: -16px;
      .cti-desbuy-title {
        color: #333;
        font-size: 20px;
        font-weight: 400;
        line-height: 32px;
        .cti-helpTip-text {
          vertical-align: middle;
          display: table-cell;
        }
      }
    }
  }
}
.el-tree .el-tree-node__expand-icon.expanded {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}

.el-tree .el-icon-caret-right:before {
  content: "\e78a";
  font-size: 18px;
}

.el-tree .el-tree-node__expand-icon.expanded.el-icon-caret-right:before {
  content: "\e784";
  font-size: 18px;
}